<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>Cafe lava | admin home</title>
    <link rel="stylesheet" href="~/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="~/styles/bootstrap-icon.css" />
    <link rel="stylesheet" href="~/styles/custom.css" />
</head>
<body class="bg-secondary text-light">
    <div >
        <!-- left navbar  -->
        <div class="d-flex flex-column col-2 flex-shrink-0 z-3 bg-warning position-fixed h-100" style="width: 4.5rem;">
            <a href="/" class="d-block p-3 link-body-emphasis text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                <svg class="bi pe-none" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="visually-hidden">Icon-only</span>
            </a>
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li class="nav-item">
                    <a href="#" class="nav-link bg-warning-subtle active py-3 border-bottom rounded-0" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
                        <i class="bi bi-house-add-fill text-black fs-2 "></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Dashboard" data-bs-original-title="Dashboard">
                        <i class="bi bi-speedometer2 text-black fs-2"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Orders" data-bs-original-title="Orders">
                        <i class="bi bi-border-style text-black fs-2"></i>
                    </a>
                </li>
                <li>
                    <div class="btn-group dropend">
                        <button type="button" class="dropdown-toggle nav-link py-3 border-bottom rounded-0" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill-gear text-black fs-2"></i>
                        </button>
                        <ul class="dropdown-menu text-center">
                            <li>
                                <a href="#"
                                   class="link-body-emphasis d-inline-flex text-decoration-none rounded">New</a>
                            </li>
                            <li>
                                <a href="#"
                                   class="link-body-emphasis d-inline-flex text-decoration-none rounded">Processed</a>
                            </li>
                            <li>
                                <a href="#"
                                   class="link-body-emphasis d-inline-flex text-decoration-none rounded">Shipped</a>
                            </li>
                            <li>
                                <a href="#"
                                   class="link-body-emphasis d-inline-flex text-decoration-none rounded">Returned</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="btn-group dropend">
                        <button type="button" class="dropdown-toggle nav-link py-3 border-bottom rounded-0" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-gear-wide-connected text-dark fs-2"></i>
                        </button>
                        <ul class="dropdown-menu text-center">
                            <li>
                                <a asp-controller="admin" asp-action="Categury" id="manageCategurybtn"
                                   class="link-body-emphasis d-inline-flex text-decoration-none rounded">Manage categury</a>
                            </li>
                            <li>
                                <a asp-controller="admin" asp-action="Product" id="manageProductBtn"
                                   class="link-body-emphasis d-inline-flex text-decoration-none rounded">Manage Product</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="dropdown border-top">
                <a href="#" class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
        <!-- cards contanier  -->
        <div class=" pt-4 col-10 pb-3 w-100 d-flex justify-content-center flex-nowrap" >
            @RenderBody()
        </div>
    </div>
    <!-- live alert container-->
    <div id="liveAlertPlaceholder" class="position-fixed  start-50 translate-middle-x">
       
    </div>
    <!-- modal edit btn  -->
    <div class="modal fade"
         id="aditBtnModal"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content custom-glass">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        اصلاح محصول
                    </h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body custom-direction">
                    <div class="mb-3 text-black">
                        <label for="formFile" class="form-label">
                            ابتدا وارد سایت زیر بشین و عکس خود را فشرده سازی کنید سپس
                            بارگزاری کنید<br />
                            <a href="https://imagecompressor.com/" target="_blank">click this</a>
                        </label>
                        <input class="form-control" type="file" id="formFile" />
                        <label for="formFile" class="mt-1">Default file input (PNG,JPEG)</label>
                    </div>
                    <select class="form-select form-select mb-3"
                            aria-label="Large select example"
                            required>
                        <option selected>categurey</option>
                        <option value="1">غذا</option>
                        <option value="2">نوشیدنی سرد</option>
                        <option value="3">نوشیدنی گرم</option>
                    </select>
                    <div class="form-floating mb-3 text-black">
                        <input type="text"
                               class="form-control"
                               id="floatingInput"
                               placeholder="عنوان"
                               required />
                        <label for="floatingInput">عنوان</label>
                    </div>
                    <div class="form-floating text-black">
                        <input type="text"
                               class="form-control"
                               id="discription"
                               placeholder="توضیحات" />
                        <label for="discription">توضیحات</label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <button type="button"
                            class="btn btn-danger"
                            data-bs-dismiss="modal">
                        لغو اصلاح
                    </button>
                    <button type="button" class="btn btn-warning">ثبت اصلاح</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal delete btn -->
    <div class="modal fade"
         id="deleteBtnModal"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content custom-glass">
                <div class="modal-header text-black">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">حذف محصول</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body text-black custom-direction">
                    از عمل حذف مطمئن هستید؟
                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <button type="button"
                            class="btn btn-danger"
                            data-bs-dismiss="modal">
                        لغو
                    </button>
                    <button type="button" class="btn btn-warning">حذف شود</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal add user  -->
    <div class="modal fade"
         id="useraddBtn"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content custom-glass">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        Modal title
                    </h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body custom-direction">
                    <div class="form-floating mb-3 text-black">
                        <input type="text"
                               class="form-control"
                               id="floatingInput"
                               placeholder="شماره تماس"
                               required />
                        <label for="floatingInput">شماره تماس</label>
                    </div>
                    <div class="form-floating mb-3 text-black">
                        <input type="text"
                               class="form-control"
                               id="floatingInput"
                               placeholder="نام "
                               required />
                        <label for="floatingInput">نام</label>
                    </div>
                    <select class="form-select form-select mb-3"
                            aria-label="Large select example"
                            required>
                        <option>سطح دسترسی</option>
                        <option value="1">admin</option>
                        <option value="2">operator</option>
                        <option value="3">customer</option>
                    </select>
                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <button type="button" class="btn bg-danger" data-bs-dismiss="modal">
                        لغو
                    </button>
                    <button type="button"
                            class="btn btn-warning"
                            data-bs-toggle="modal"
                            data-bs-target="#useraddBtn-authorization">
                        ارسال پیام
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- authorization number with smtp dialog modal  -->
    <div class="modal fade"
         id="useraddBtn-authorization"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content custom-glass">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        کد ارسالی را وارد کنید
                    </h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body custom-direction">
                    <div class="form-floating mb-3 text-black">
                        <input type="text"
                               class="form-control"
                               id="floatingInput"
                               placeholder="کد"
                               required />
                        <label for="floatingInput">کد</label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <button type="button"
                            class="btn bg-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#useraddBtn">
                        اصلاح شماره
                    </button>
                    <button type="button" class="btn btn-warning">تایید</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("scripts", required: false)


</body>
</html>
