@model LavaMenu.Application.Common.ResultDTO.GlobalResultDTO

@{
    Layout = null;

    //string type;

    //ScriptManager.RegisterClientScriptBlock(this, this.GetType(), "alertMessage", "alert('Record Inserted Successfully')", true);


    //if (Model.IsSuccess == null)
    //{
    //    type = "";
    //}
    //else if (Model.IsSuccess)
    //{
    //    type = "success";

    //}
    //else
    //{
    //    type = "danger";
    //}

}



@*<div class="alert alert-@type alert-dismissible" role="alert">

    <div>@Model.Message</div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

</div>*@


@*<div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-glass">
            <div class="modal-header text-black">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body text-black custom-direction">

                @Model.Message

            </div>
            <div class="modal-footer d-flex justify-content-around">
                <button type="button"
                        class="btn btn-danger"
                        data-bs-dismiss="modal"
                        >
                    بستن
                </button>
                @if (!Model.IsSuccess)
                {
                    <button type="button" class="btn btn-warning">تصحیح</button>
                }
            </div>
        </div>
    </div>*@
