@model List<LavaMenu.Application.Domain.Entitys.ProductCategury>


@{
    Layout = null;
}

@foreach (var item in Model as List<LavaMenu.Application.Domain.Entitys.ProductCategury>)
{
<a>
    <figure class="figure d-block">
        <img src="@item.SrcCategury"
             class="figure-img img-fluid rounded-circle"
             alt="@item.CateguryName" />
        <figcaption class="figure-caption text-light text-center">
            @item.CateguryName
        </figcaption>
    </figure>
</a>
}

<figure class="figure d-block">
    <img src="~/images/foodtest-3.png"
         class="figure-img img-fluid rounded-circle"
         alt="..." />
    <figcaption class="figure-caption text-light text-center">
        غذا
    </figcaption>
</figure>
<figure class="figure d-block">
    <img src="~/images/foodtest-2.png"
         class="figure-img img-fluid rounded-circle"
         alt="..." />
    <figcaption class="figure-caption text-light text-center">
        غذا
    </figcaption>
</figure>
<figure class="figure d-block">
    <img src="~/images/foodtest-3.png"
         class="figure-img img-fluid rounded-circle"
         alt="..." />
    <figcaption class="figure-caption text-light text-center">
        غذا
    </figcaption>
</figure>
<figure class="figure d-block">
    <img src="~/images/foodtest-2.png"
         class="figure-img img-fluid rounded-circle"
         alt="..." />
    <figcaption class="figure-caption text-light text-center">
        غذا
    </figcaption>
</figure>
<figure class="figure d-block">
    <img src="~/images/foodtest-3.png"
         class="figure-img img-fluid rounded-circle"
         alt="..." />
    <figcaption class="figure-caption text-light text-center">
        غذا
    </figcaption>
</figure>
<figure class="figure d-block">
    <img src="~/images/foodtest-2.png"
         class="figure-img img-fluid rounded-circle"
         alt="..." />
    <figcaption class="figure-caption text-light text-center">
        غذا
    </figcaption>
</figure>
<figure class="figure d-block">
    <img src="~/images/foodtest-3.png"
         class="figure-img img-fluid rounded-circle"
         alt="..." />
    <figcaption class="figure-caption text-light text-center">
        غذا
    </figcaption>
</figure>