
@{
    Layout = "_LayoutAdmin";

}


<div class="table-container table-responsive w-75 ms-5 ms-sm-0 ">
    <table class="table table-striped table-hover text-center">
        <thead class="table-warning">
            <tr>
                <th scope="col">#</th>
                <th scope="col">تصویر</th>
                <th scope="col">اسم</th>
                <th scope="col">وضعیت</th>
                <th scope="colgroup" colspan="3">
                    عملیات ها
                </th>
            </tr>
        </thead>
        <tbody id="TbodyCateguryAdmin">

            @*<tr>
                    <th scope="row">2s</th>
                    <td>‌ <img src="~/images/ProductImages/638458680366292203arsham_fadaie_Anonymous_hackers.png" alt="test" width="100" height="100"> </td>
                    <td>شیک ها</td>
                    <td>غیر فعال</td>
                    <td>
                        <button type="button" class="btn btn-danger">فعال</button>
                    </td>

                    <td>
                        <button type="button" class="btn btn-warning">تصحیح</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">حذف</button>
                    </td>
                </tr>*@

        </tbody>
    </table>
</div>
<!-- add categury btn contanier  -->
<div class="btn-container custom-glass d-flex justify-content-end p-3">
    <a class="btn btn-danger "
       data-bs-toggle="modal"
       data-bs-target="#addCateguryBtnModal">
        add categury
    </a>
</div>
<!-- Modal add categury -->
<div class="modal fade"
     id="addCateguryBtnModal"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-white custom-glass">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    افزون دسته بندی جدید
                </h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form method="post" id="addCategurySubmit" enctype="multipart/form-data">
                <div class="modal-body custom-direction">

                    <div class="mb-3 text-black">
                        <label for="formFile" class="form-label">
                            ابتدا وارد سایت زیر بشین و عکس خود را فشرده سازی کنید سپس
                            بارگزاری کنید<br />
                            <a href="https://imagecompressor.com/" target="_blank">click this</a>
                        </label>
                        <input class="form-control" type="file" id="AddCateguryImage" />
                        <label for="AddCateguryImage" class="mt-1">Default file input (PNG,JPEG)</label>
                    </div>
                    <div class="form-floating mb-3 text-black">
                        <input type="text"
                               class="form-control"
                               id="addCateguryTitle"
                               placeholder="عنوان"
                               required />
                        <label for="addCateguryTitle">عنوان</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"
                            class="btn btn-danger"
                            data-bs-dismiss="modal">
                        ذخیره
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal edit categury -->
<div class="modal fade"
     id="EditCateguryBtnModal"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-white custom-glass">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    اصلاح دسته بندی
                </h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form id="EditCategurySubmit">
                <div class="modal-body custom-direction">

                    <div class="mb-3 text-black">
                        <label for="formFile" class="form-label">
                            ابتدا وارد سایت زیر بشین و عکس خود را فشرده سازی کنید سپس
                            بارگزاری کنید<br />
                            <a href="https://imagecompressor.com/" target="_blank">click this</a>
                        </label>
                        <input class="form-control" type="file" id="EditCateguryImage" />
                        <label for="EditCateguryImage" class="mt-1">Default file input (PNG,JPEG)</label>
                    </div>
                    <div class="form-floating mb-3 text-black">
                        <input type="text"
                               class="form-control"
                               id="EditCateguryTitle"
                               placeholder="عنوان"
                               required />
                        <label for="EditCateguryTitle">عنوان</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-danger"
                            id="ProductToCategury">
                        افزودن محصول
                    </button>
                    <button type="submit"
                            class="btn btn-danger"
                            data-bs-dismiss="modal">
                        ذخیره
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- modal Add NUll Product to Categury btn -->
<div class="modal fade"
     id="AddProductToCateguryBtnModal"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-glass">
            <div class="modal-header text-black">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">افزودن‌ محصولات به دسته‌بندی</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form id="AddProductToCategurySubmit">
                <div class="modal-body text-black ">
                    <table class="table table-striped table-hover text-center">
                        <thead class="table-warning">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">تصویر</th>
                                <th scope="col">اسم</th>
                                <th scope="col">انتخاب</th>

                            </tr>
                        </thead>
                        <tbody id="TbodyProductToCategury" style="max-height:250px; overflow:scroll;">

                           
                            @*<tr>
                                <th scope="row">2</th>
                                <td>‌ <img src="~/images/ProductImages/26e8befc-2f4b-4287-bf88-5356984ecafd.jpg" alt="test" width="50" height="50"> </td>
                                <td>شیک ها</td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input float-end ms-0" type="checkbox" name="SelectedProductList">
                                    </div>
                                </td>

                            </tr>*@

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <button type="button"
                            class="btn btn-danger"
                            data-bs-dismiss="modal">
                        لغو
                    </button>
                    <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">اتمام</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- modal delete btn -->
<div class="modal fade"
     id="deleteCateguryBtnModal"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-glass">
            <div class="modal-header text-black">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">حذف دسته‌بندی</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form id="HardDeleteCategurySubmit">
                <div class="modal-body text-black custom-direction">
                    از عمل حذف مطمئن هستید؟
                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <button type="button"
                            class="btn btn-danger"
                            data-bs-dismiss="modal">
                        لغو
                    </button>
                    <button type="button" class="btn btn-light" id="SoftDeleteCategury" data-bs-dismiss="modal">حذف نرم</button>
                    <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">حذف سخت</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(window).on("load", GetAllCateguryAdminPanel);
    </script>

}