 

@{
    Layout = null;
}

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-white custom-glass">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
                افزون محصول جدید
            </h1>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
        </div>
        <div class="modal-body custom-direction">
            <div class="mb-3 text-black">
                <label for="formFile" class="form-label">
                    ابتدا وارد سایت زیر بشین و عکس خود را فشرده سازی کنید سپس
                    بارگزاری کنید<br />
                    <a href="https://imagecompressor.com/" target="_blank">click this</a>
                </label>
                <input class="form-control" type="file" />
                <label class="mt-1">Default file input (PNG,JPEG)</label>

                @*maintaine to this part*@

            </div>
            <select class="form-select form-select mb-3"
                    aria-label="Large select example"
                    required>
                <option selected>categurey</option>
                <option value="1">غذا</option>
                <option value="2">نوشیدنی سرد</option>
                <option value="3">نوشیدنی گرم</option>
            </select>
            <div class="form-floating mb-3 text-black">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="عنوان"
                       required />
                <label for="floatingInput">عنوان</label>
            </div>
            <div class="form-floating text-black">
                <input type="text"
                       class="form-control"
                       id="discription"
                       placeholder="توضیحات" />
                <label for="discription">توضیحات</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal">
                ذخیره
            </button>
        </div>
    </div>
</div>